<h1>{{message}}</h1>
<p><b>Home View</b></p>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr ng-repeat="person in persons">
        <td>
            {{person.Id}}
        </td>

        <td>
            {{person.Name}}
        </td>

        <td>
            <a id="detailsButton" href="#/people/{{person.Id}}" class="btn btn-warning" role="button">Details</a>
        </td>

        <td>
            <a id="editButton" href="#/edit/{{person.Id}}" class="btn btn-info" role="button">Edit</a>
        </td>
        <td>
            <a id="deleteButton" href="#/remove/{{person.Id}}" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
</table>

<a id="createButton" href="#/create" class="btn btn-success" role="button">Create Person</a>
<!--<button ng-click="persons.reloadData()">Reload List</button>-->

<!--<div ng-hide="isAddForm">
    <button ng-click="isAddForm=true;">Add Student</button>
</div>-->
<!--<div ng-show="isAddForm">
    <label>Enter name</label><input ng-model="newStudent.name" />
    <label>Enter Age</label><input ng-model="newStudent.age" />
    <button ng-click="addStudent()">Add</button>
    <button ng-click="isAddForm=false;">Cancel</button>
</div>-->
