<h1>People Details</h1>

<table style="border:1px solid black">
    <tr>
        <td>Id</td>
        <td>{{peopledetail.Id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{peopledetail.Name}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{peopledetail.Gender}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{peopledetail.City}}</td>
    </tr>
    <tr>
        <td>Adress</td>
        <td>{{peopledetail.Adress}}</td>
    </tr>
</table>
<a href="#/home">Back to People list</a>