<h1>People Details</h1>

    <table>

        <tr>
            <td id="tdHeader">Id</td>
            <td>{{peopledetail.Id}}</td>
        </tr>
        <tr>
            <td id="tdHeader">Name</td>
            <td>{{peopledetail.Name}}</td>
        </tr>
        <tr>
            <td id="tdHeader">Gender</td>
            <td>{{peopledetail.Gender}}</td>
        </tr>
        <tr>
            <td id="tdHeader">City</td>
            <td>{{peopledetail.City}}</td>
        </tr>
        <tr>
            <td id="tdHeader">Adress</td>
            <td>{{peopledetail.Adress}}</td>
        </tr>
        <tr>
            <td id="tdHeader">Country</td>
            <td>{{peopledetail.Country}}</td>
        </tr>
    </table>

<br />
<a id="editButton" href="#/edit/{{peopledetail.Id}}" class="btn btn-info" role="button">Edit</a>
<a id="deleteButton" href="#/remove/{{peopledetail.Id}}" class="btn btn-danger" role="button">Delete</a>
<br /><br />
<a id="homeButton" href="#/home" class="btn btn-default" role="button">Back to People List</a>

<style>
    #tdHeader {
        font-weight: bold;
    }
</style>