<h1>Remove Person</h1>

<h3>Are you sure you want to remove {{peopleRemoveDetail.Name}}?</h3>

<form name="removeForm" ng-submit="sendRemoveform()" novalidate>
    <table>

        <tr>
            <td id="tdHeader">Id</td>
            <td>{{peopleRemoveDetail.Id}}</td>
        </tr>
        <tr>
            <td id="tdHeader">Name</td>
            <td>
                {{peopleRemoveDetail.Name}}
            </td>
        </tr>
        <tr>
            <td id="tdHeader">Gender</td>
            <td>
                {{peopleRemoveDetail.Gender}}
            </td>
        </tr>
        <tr>
            <td id="tdHeader">City</td>
            <td>
                {{peopleRemoveDetail.City}}
            </td>
        </tr>
        <tr>
            <td id="tdHeader">Adress</td>
            <td>
                {{peopleRemoveDetail.Adress}}
            </td>
        </tr>
        <tr>
            <td id="tdHeader">Country</td>
            <td>
                {{peopleRemoveDetail.Country}}
            </td>
        </tr>
    </table>

    <input name="remove" id="remove" value="Remove" class="btn btn-danger" type="submit" />

</form>
<br />
<a id="homeButton" href="#/home" class="btn btn-default" role="button">Back to People List</a>

<style>
    #tdHeader {
        font-weight: bold;
    }
</style>