<h1>Student Details</h1>

<table style="border:1px solid black">
    <tr>
        <td>Id</td>
        <td>{{studentdetail.Id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{studentdetail.Name}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{studentdetail.Gender}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{studentdetail.City}}</td>
    </tr>
    <tr>
        <td>Adress</td>
        <td>{{studentdetail.Adress}}</td>
    </tr>
</table>
<a href="#/home">Back to People list</a>